site_name: RichardYi's NoteBook
site_url: https://127.0.0.1:8000
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      linenums_style: pymdownx.inline
      linenums: false
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - pymdownx.arithmatex:
      generic: true
  - toc:
      permalink: true

extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

copyright: Copyright &copy; 2025 RichardYi

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/richardyi-sysu
      name: Github Profile
    - icon: fontawesome/brands/bilibili
      link: https://space.bilibili.com/104113203
      name: Bilibili Homepage

theme:
  name: material
  features:
    - content.code.copy
    - navigation.footer
  logo: assets/logo128.png
  favicon: assets/logo.png
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    

plugins:
  - search
  - glightbox:
     touchNavigation: true
     loop: false
     effect: fade
     slide_effect: slide
     width: 100%
     height: auto
     zoomable: true
     draggable: true
     skip_classes:
       - custom-skip-class-name
     auto_caption: false
     caption_position: bottom
     background: white
     shadow: true
     manual: false
  - mermaid2:
      version: 10.0.2



